.kasaHeader h1 {
    text-align: center;
}

.kasaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}

.kasaMain {
    background-color: rgb(182, 171, 171);
    width: 70%;
    display: flex;
}

.kasaProduct {
    background-color: rgb(182, 171, 171);
    width: 25%;
    height: 450px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.kasaPayment input:nth-last-of-type(-n+2) {
    width: 20%;
    display: inline;
    padding: 10px;
}

.kundAdress input:last-child {
    display: inline;
    width: 5%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.paymentIcons img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.kundAdress,
.kasaPayment {
    width: 40%;
    padding: 2%;
}

button {
    background-color: rgb(82, 207, 86);
    color: white;
    border-radius: 3px;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

button:hover {
    opacity: 0.7;
}

.productList table {
    width: 100%;
}

.productList td,
th {
    width: 25%;
    text-align: right;
    padding: 15px;
}

.productList img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 850px) {
    .kasaContainer {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .kasaMain {
        margin-top: 50px;
    }
    .kasaMain,
    .kasaProduct {
        width: 100%;
    }
}