.varu-head {
    padding: 14px 20px;
    border: none;
    border-radius: 6px 6px 0 0;
    background: #dddddd;
    width: 80%;
    height: 50px;
    margin-left: 8%;
}

.varu-head h1 {
    text-align: center;
    color: rgb(30, 33, 36);
}

.table-container {
    border-left: 1px solid #dddddd;
    border-right: 1px solid#dddddddd;
    width: 82.9%;
    margin-left: 8%;
}

.varu-table {
    width: 100%;
    background: rgb(247, 244, 244);
}

td,
th {
    width: 25%;
    text-align: right;
    padding: 15px;
}

.product {
    display: flex;
}

.product img {
    height: 50px;
    width: 60px;
    padding: 30px;
}

ul {
    list-style: none;
}

button {
    position: absolute;
    left: 75%;
    top: 770px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

.varu-sumup {
    border-top: 2px lightcyan;
    background: #dddddd;
}

.varu-sumup li {
    color: #3f3333;
}